.footer{
    display: flex;
    background-color: #6278f7;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;
    color: #FFF;
    padding-bottom: 40px;
}
.footer ul li{
    display: inline-block;
    margin-right: 32px;
}
.footer ul li:last-child{
    margin-right: 0;
}
.footer a :hover{
    filter: invert(75%);
}