.time{
    text-align: center;
    padding: 32px;
    background-color: none;
}
.time h3{
    font-size: 32px;
    border-bottom: 4px solid ;
    display: inline-block;
    padding: 8px;

}
.time .colaboradores{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    font-size: 28px;
    font-weight: 100;
    padding: 8px;
    margin-bottom: 32px;
}
.titulo h3{
    
    color: #6278f7;
    text-align: center;
    border-bottom: 4px solid ;
    padding: 8px;
}

